<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout/adminLayout}">
<head>
    <title>Document</title>
</head>
<body>
    <!-- This is the content to inject into the adminLayout -->
    <div class="content" layout:fragment="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h1>Category Management!</h1>
                    </div>

                    <div class="card-body">
                        <table border="1">
                            <tr><th>ID</th><th>Name</th><th>Action</th></tr>
                            <tr th:each="user : ${categories}">
                                <td th:text="${user.id}">1</td>
                                <td th:text="${user.name}">Name</td>
                                <td th:text="${user.isDeleted}">Name</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>