<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title layout:titel-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">CMS</title>

    <!-- Include CSS -->
    <th:block th:replace="~{fragments/styles}"></th:block>

    <!-- Include additional head scripts -->
    <th:block th:replace="~{fragments/headScript}"></th:block>
</head>
<body class="header-fixed sidebar-fixed sidebar-dark header-light" id="body">
<script>
    NProgress.configure({ showSpinner: false });
    NProgress.start();
</script>

<div class="wrapper">

    <!-- left sidebar -->
    <div th:replace="~{fragments/leftSideBar}"></div>

    <!-- Header -->
    <div th:replace="~{fragments/header}"></div>

    <!-- Main content area -->
    <div class="page-wrapper">
        <div class="content-wrapper">
            <div class="content" layout:fragment="content">
                <!-- Content overridden by child here -->
            </div>
        </div>
    </div>
</div>

    <!-- JS Scripts -->
    <th:block th:replace="~{fragments/scripts}"></th:block>
</body>
</html>

